openapi: '3.0.2'
info:
  title: Truck Deliver
  version: '1.0'
servers:
  - url: https://truck.deliver/api/v1
paths:
  /driver:
    post:
      tags:
        - "Driver"
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/Driver'
      responses:
        '201':
          description: OK
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Driver'
    get:
      tags:
        - "Driver"
      responses:
        '200':
          description: OK
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Driver'

  /driver/:id:
    get:
      tags:
        - "Driver"
      responses:
        '200':
          description: Single Driver
          content:
            'application/json':
              schema:
                $ref:  "#/components/schemas/Driver"

  /driver/:id/truck:
    get:
      tags:
        - "Driver"
      responses:
        '200':
          description: Get the information about the truck of a driver
          content:
            'application/json':
              schema:
                $ref:  "#/components/schemas/Truck"
  /driver/:id/:
    delete:
      tags:
        - "Driver"
      responses:
        '200':
          description: 'OK'

  /truck:
    get:
      tags:
        - "Truck"
      description: Return all the trucks.
      responses:
        '200':
          description: All the Trucks.
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Truck'
    post:
      tags:
        - "Truck"
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/Truck'
      responses:
        '201':
          description: OK
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Truck'
  /truck/:id:
    get:
      tags:
        - "Truck"
      responses:
        '200':
          description: Single Truck
          content:
            'application/json':
              schema:
                $ref:  "#/components/schemas/Truck"
    delete:
      tags:
        - "Truck"
      responses:
        '200':
          description: 'OK'

  /client:
    post:
      tags:
        - "Client"
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/Client'
      responses:
        '201':
          description: OK
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Client'
    get:
      tags:
        - "Client"
      responses:
        '200':
          description: OK
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Client'

  /client/:id:
    get:
      tags:
        - "Client"
      responses:
        '200':
          description: Single Client
          content:
            'application/json':
              schema:
                $ref:  "#/components/schemas/Client"
  /client/:id/:
    delete:
      tags:
        - "Client"
      responses:
        '200':
          description: 'OK'


components:
  schemas:
    Driver:
      type: object
      properties:
        id:
          type: integer
          format: id
          readOnly: true
        name:
          readOnly: true
          type: string
        last_name:
            type: string
            readOnly: true
        license_number:
          type: string
        truck_id:
          type: integer
          format: id
          readOnly: true

    Truck:
      type: object
      properties:
        id:
          type: integer
          format: id
          readOnly: true
        plate:
          readOnly: true
          type: string
        type:
            type: string
            readOnly: true
        color:
          type: string
        model:
          type: string
          readOnly: true

    Client:
      type: object
      properties:
        id:
          type: string
          format: id
          readOnly: true
        name:
          type: string
        email:
            type: string
        cellphone:
          type: string
        model:
          type: string
        address:
          type: string
        nit:
          type: string
        contract_number:
          type: string
